*{
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
  background: rgb(22,21,21);
  background: linear-gradient(35deg, rgba(22,21,21,1) 0%, rgba(0,128,0,1) 42%, rgba(0,128,0,1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;

}

/* texto refugio */

.primeiro{
  display: flex;
  flex-direction: column;
  mix-blend-mode: multiply;
  height: 49px;
}
.segundo{
  display: flex;
  flex-direction: column;
  mix-blend-mode: multiply;
  height: 49px;
}

.terceiro{
  mix-blend-mode: multiply;
  height: 49px;

}

  /* corpo */

.corpo{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Gluten", cursive;
}

/* foto */

.grupo{

  margin-left: 90px;
  height: 330px;
  /* margin-bottom: 20px; */
}

 /* botoes */



.zap{
  margin-left: 500px;
  background-color: black;
  height: 30px;
  width: 210px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: aliceblue;

}

.insta{
  margin-left: 500px;
  background-color: black;
  height: 30px;
  width: 210px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: aliceblue;
}

.historia{
  margin-left: 500px;
  background-color: black;
  height: 30px;
  width: 210px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: aliceblue;
}
a{
color: aliceblue;
    text-decoration: none;
 }

/* efeitos */





    

